{
  "presets": ["react", "env"],
  "env": {
    "development": {
      "plugin": [["react-transform", {
        "transform": [{
          "transform": "react-transform-hmr",
          "import": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
